@use "../../../presets" as *;
@use "../../../mixins" as *;

.skill-item {
  background-color: $color-primary;
  position: relative;
  overflow: hidden;

  &__title {
    position: relative;
    z-index: 1;

    margin: 0;

    @include md-min {
      font-size: 1.25rem;
    }

    @include md {
      font-size: 1.125rem;
    }

    @include abs-position;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 100%;
    transition: color 0.5s;
  }

  &__image {
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

    @include abs-position;
  }

  &__overlay {
    @include abs-position;
    transition: opacity 0.5s;
    background-color: $color-primary;
    opacity: 0.8;
  }

  &:hover {
    .skill-item__overlay {
      opacity: 0.95;
    }

    .skill-item__image {
      transform: scale(1.1);
    }

    .skill-item__link {
      color: $color-accent;
    }
  }
}

@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}

// .skill-item:nth-of-type(1) {
//   grid-area: a1;

// .skill-item:nth-of-type(2) {
//   grid-area: a2;
// }

//   // способ 2
//   // grid-column: 1 / span 2;
//   // grid-row: 1 / span 2;
// }
