@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  position: relative;

  display: grid;
  align-content: center;

  min-height: 100vh;
  padding: 150px 0 150px;
  // или другой вариант вместо grid
  // display: flex;
  // justify-content: center;
  // align-items: center;

  color: $color-light;
  background-color: $color-primary;
  background-position: 50% 50%;
  background-size: cover;

  // @media (min-width: 1921px) {
  //   background-image: url(../img/img-header@2x.png);
  // }

  // @media (max-width: 1920px) {
  //   background-image: url(../img/img-header.png);
  // }
}
