@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  // width: 100%;
  display: grid;
  flex-grow: 1;

  &__btn {
    width: 20px;
    height: 18px;
    margin: 10px 0 10px auto;
    position: relative;
    cursor: pointer;
    display: inline-block;

    @include md-min {
      display: none;
    }

    &-row {
      background-color: $color-light;
      position: absolute;
      border-radius: 2px;
      transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      width: 20px;
      height: 2px;

      &:nth-child(1) {
        top: 0px;
        left: 0px;
      }

      &:nth-child(2) {
        top: 8px;
        left: 0px;
      }

      &:nth-child(3) {
        bottom: 0px;
        left: 0px;
      }
    }

    &--active span {
      &:nth-child(1) {
        top: 10px;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 10px;
      }
    }
  }

  &__list {
    @include md-min {
      display: grid;
      justify-content: end;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

      @include unlist(0 -20px 0 0);
    }

    @include md {
      display: none;

      @include unlist;
    }

    &.active {
      display: block;
      position: absolute;
      background-color: rgba($color-gray-dark, 0.95);
      right: 20px;
      top: 100%;
      text-align: right;
    }
  }

  &__item {
    margin: $gap $gap-sm;
    @include md {
      margin: $gap $gap-sm;
    }
  }

  &__link {
    display: block;

    @include md-min {
      padding: $gap $gap-sm;
    }

    @include md {
      padding: $gap-sm $gap;
    }

    transition: color 0.5s;
    letter-spacing: 0.09em;

    font-size: 18px;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
